# Dependencies
node_modules/

# Build output
dist/
*.zip

# Test coverage
coverage/

# Logs & diagnostics
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS / editor cruft
.DS_Store
Thumbs.db
*.swp
.idea/
